{% extends 'base.html.twig' %}

{% block title %}Mail envoyé{% endblock %}

{% block body %}
    <p>
        Si un compte Todo & Co correspond à l'adresse mail spécifiée, vous recevrez un mail avec un lien vous permettant de réintialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas de lien, vérifiez vos spams ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
