{% extends 'base.html.twig' %}

{% block title %}Édition de tâche{% endblock %}

{% block body %}
    <div class="col-12 d-flex justify-content-between">
        <h1>Éditer une tâche</h1>
        {{ include('task/_delete_form.html.twig') }}
    </div>

    {{ include('task/_form.html.twig', {'button_label': 'Enregistrer'}) }}

     
        <a href="{{ path('app_task_index') }}">
            <i class="bi bi-arrow-left"></i>
            Retour à la liste
        </a>
{% endblock %}
