<form method="POST" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Souhaitez-vous réellement supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger mt-3">
        <i class="bi bi-trash-fill"></i>
        Supprimer
    </button>
</form>
